# vscode
.vscode 

# Intellij
*.iml
.idea

# npm
node_modules

# Don't include compiled build artifacts in the repo.
# They should be uploaded to GitHub releases instead.
main.js
styles.css
data.json
*.map

# Build tool directories
.vite/
dist/

# OS specific files
.DS_Store
Thumbs.db
